<template>
  <div>
    <div id="content">
      <h2>Process terminés</h2>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Done',
  components: {
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
