<template>
  <div>
    <div id="content">
      <h2>Process en cours</h2>
      <div id="process-status"></div>
	<div id="listImages" v-if="processInstances.length > 0">
          <div id="results" v-for="(item,index) in processInstances">
          {{item}}
          </div>
        </div>
    </div>
  </div>
</template>

<script>
//  import BpmnViewer from 'bpmn-js'
  import VueResource from 'vue-resource'

  export default {
    name: 'Running',
    components: {
      VueResource
    },
    data () {
//      let parser = new DOMParser()
//      let xml = parser.parseFromString('', 'text/xml')
//      let xml = require('./test.cmof')
//      let viewer = new BpmnViewer({ container: '#process-status' })
//
//      viewer.importXML(xml, function (err) {
//        if (err) {
//          console.log('error rendering', err)
//        } else {
//          console.log('rendered')
//        }
//      })
      return {
        processInstances: []
      }
    },
    mounted: function () {
      this.getProcessInstances()
    },
    methods: {
      getProcessInstances () {
        this.$http.get('http://localhost:8180/rest/processInstance/', {
          headers: {
            'Accept': 'application/json'
          }
        })
        .then((response) => {
          console.log(response)
          this.processInstances = response.data
        })
        .catch(function (data, status, request) {
          console.log(data)
        })
      }
    }
  }
</script>
