<template>

  <div>
    <div id="content">
      <div id="form">
        <div id="search">
          <h3>Rechercher des images</h3>
          <span>Choisir des images qui se superposent parfaitement. <br/> Eviter les surfaces aquatiques et la végétation.</span>
          <br/>
          <br/>
          <div style="clear:both" />
          <span style="width:100px;float:left" >Début : </span>
          <datepicker class="datepick" v-model="start"/>
          <span style="float:left;clear:both" />
          <br/>
          <span style="width:100px;float:left;">Fin : </span>
          <datepicker class="datepick" v-model="end" />
          <span style="clear:both;float:left" />
          <br/>
          <select v-model="selected">
             <option disabled value="">SATELLITE</option>
             <option value="SENTINEL-1">SENTINEL-1</option>
          </select>
          <br/>
          <select v-model="instrument">
             <option disabled value="">INSTRUMENT</option>
             <option value="SAR-C%20SAR">SAR bande C</option>
          </select>

          <br/>
          <select v-model="traitement">
             <option disabled value="">NIVEAU DE TRAITEMENT</option>
             <option value="LEVEL1">LEVEL1</option>
          </select>
          <br/>
          <select v-model="product">
            <option disabled value="">TYPE DE PRODUIT</option>
            <option value="SLC">SLC</option>
          </select>
           <br/>
          <select v-model="orbite">
             <option disabled value="">SENS DE L'ORBITE</option>
             <option value="Ascendant">Ascendant</option>
             <option value="Descendant">Descendant</option>
          </select>
          <br/>
          <button name="button" v-on:click="getImages">Rechercher les images</button><br/>
        </div>
      </div>
      <div id="mapArea">
        <!--<button name="button" v-on:click="switchMapStyle">Switch map style</button>-->
        <v-map style="height: 100%" :zoom="zoom" :center="center">
          <v-tilelayer :url="url" :attribution="attribution"></v-tilelayer>
          <v-marker v-for="item in markers" :key="item.id" :lat-lng="item.position" :visible="item.visible" :draggable="item.draggable"
                    v-on:l-move="markerMoved($event, item)" :icon="img">
            <v-popup :content="item.tooltip"></v-popup>
            <v-tooltip :content="item.tooltip"></v-tooltip>
          </v-marker>
          <v-marker v-if="areaMarker !== ''" :lat-lng="areaMarker" :visible="true" :icon="img">
            <v-tooltip :content="areaMarkerTooltip"></v-tooltip>
          </v-marker>
          <v-polygon v-for="item in displayedImages" :key="item.id" :lat-lngs="item.geometry.coordinates" :color="imagesColor"></v-polygon>
          <v-circle v-for="item in circles" :key="item.id" :lat-lng="item.center" :radius="item.radius"></v-circle>
          <v-rectangle v-for="item in rectangles" :key="item.id" :bounds="item.bounds" :color="item.color"></v-rectangle>
        </v-map>
      </div>
      <div id="launchProcess">
          <h3>Lancer un process</h3>
          Email : <input id="emailAdress" class="mail" v-model="message" placeholder="Enter your email"> <button name="button" v-on:click="launchProcess">Lancer le process</button>
      </div>
      <div id="listImages" v-if="images.length > 0">
        <span>{{ this.images.length }} images trouvées, {{ this.selectedImages.length }} images filtrées</span>
        <div id="results" v-for="(item,index) in selectedImages">
          <div class="large-2 columns">
            <div class="thumbnail th text-center">
               <img :src="item.properties.quicklook" v-on:click="openWindow(item.properties.collection, item.properties.id)">
            </div>
          </div>
          <div class="large-3 columns">
            <span class="light">
               Product : {{item.id}}
            </span>
            <br/>
            <span class="light">
               Collection : {{item.properties.collection}}
            </span>
            <br/>
            <span class="light">
              Date : {{item.properties.startDate}}
            </span>
            <br/>
            <span class="light">
              Localisation : {{item.localisation}}
            </span>
            <br/>
          </div>
          <div class="large-3 columns">
            <span class="light">
              Plateforme : {{item.properties.platform}}
            </span>
            <br/>
            <span class="light">
              Instrument : {{item.properties.instrument}}
            </span>
            <br/>
            <span class="light">
              Type de produit : {{item.properties.productType}}
            </span>
            <br/>
            <span class="light">
              Produit NRT : {{item.properties.isNrt}}
            </span>
            <br/>
            <span class="light">
              Numero de fauchée : {{item.properties.swathNumber}}
            </span>
            <br/>
          </div>
          <div class="large-3 columns">
            <span class="light">
              Numéro d'orbite : {{item.properties.orbitNumber}}
            </span>
            <br/>
            <span class="light">
              Niveau de Traitement : {{item.properties.processingLevel}}
            </span>
            <br/>
            <span class="light">
              Mode du Capteur : {{item.properties.sensorMode}}
            </span>
            <br/>
            <span class="light">
              Polarisation : {{item.properties.polarisation}}
            </span>
            <br/>
            <span class="light">
              Orbit Direction : {{item.properties.orbitDirection}}
            </span>
            <br/>
          </div>
          <div class="large-4 columns">
               Afficher Image : <input type="checkbox" v-on:click="restrictDisplay(item)" checked="checked" /><br/>
               Selectionner image : <input type="checkbox" v-model="selection[index]" v-on:click="addToProcessParams(item,index)" /><br/>
               Swaths : {{item.properties.swath}}
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div id="moreImages">
          <button name="button" v-on:click="getMoreImages">Voir plus d'images...</button>
        </div>
      </div>
      <div id="listImages" v-else>
        Pas d'images avec les bonnes données
      </div>
    </div>
  </div>


</template>

<script>

  import Datepicker from 'vuejs-datepicker'
  import Vue2Leaflet from 'vue2-leaflet'
  import L from 'leaflet'
  import VueResource from 'vue-resource'
  import Vue from 'vue'
  import geojsonData from '../assets/geojson/GeoJsonZonesInteretFormaterEtalab.json'
  require('leaflet-draw')
  let jsonPath = require('jsonpath')

  let data = JSON.parse(JSON.stringify((geojsonData)))
  let markerList = []
  let circleList = []
  let mapId = 1
  let icon = new L.Icon({
    iconUrl: require('../assets/images/marker-icon.png'),
    iconRetinaUrl: require('../assets/images/marker-icon-2x.png'),
    shadowUrl: require('../assets/images/marker-shadow.png'),
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    tooltipAnchor: [16, -28],
    shadowSize: [41, 41]
  })

  let processParamsVar = new Map()

  for (let i = 0; i < data.features.length; i++) {
    markerList.push({'id': i, 'position': {'lat': data.features[i].geometry.coordinates[1], 'lng': data.features[i].geometry.coordinates[0]}, 'tooltip': data.features[i].properties.Label, 'draggable': false, 'visible': true})
    circleList.push({'id': i, 'center': L.latLng(data.features[i].geometry.coordinates[1], data.features[i].geometry.coordinates[0]), 'radius': 50000})
  }

  Vue.use(VueResource)

  export default {
    name: 'Start',
    components: {
      VueResource,
      Datepicker,
      'v-map': Vue2Leaflet.Map,
      'v-tilelayer': Vue2Leaflet.TileLayer,
      'v-geojson-layer': Vue2Leaflet.GeoJSON,
      'v-marker': Vue2Leaflet.Marker,
      'v-circle': Vue2Leaflet.LCircle,
      'v-tooltip': Vue2Leaflet.Tooltip,
      'v-popup': Vue2Leaflet.Popup,
      'v-rectangle': Vue2Leaflet.Rectangle,
      'v-polygon': Vue2Leaflet.Polygon
    },
    data () {
      return {
        zoom: 2,
        center: [47.413220, -1.219482],
        url: 'http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png',
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        markers: markerList,
        circles: circleList,
        option: {
          format: 'YYYY-MM-DD'
        },
        rectangles: [],
        rectangle: '',
        images: [],
        displayedImages: [],
        selectedImages: [],
        start: '',
        end: '',
        message: '',
        selected: 'SENTINEL-1',
        instrument: 'SAR-C%20SAR',
        traitement: 'LEVEL1',
        orbite: 'Ascendant',
        polarisation: 'Ascendant',
        product: 'SLC',
        startIndex: 1,
        latMarker: '',
        lngMarker: '',
        areaSize: 50,
        areaMarker: '',
        areaMarkerTooltip: 'Selected area',
        path: '/assets/images/',
        img: icon,
        mapObject: [],
        imagesColor: 'green',
        swath: '',
        processParams: processParamsVar,
        selection: [],
        currentImageSelection: false
      }
    },
    mounted: function () {
      this.mapObject = this.$children[2].mapObject
      var drawnItems = new L.FeatureGroup()
      this.mapObject.addLayer(drawnItems)
      var drawControl = new L.Control.Draw({
        draw: {
          rectangle: {
            shapeOptions: {
              color: '#FFFF00'
            }
          },
          marker: false,
          circle: false,
          polygon: false,
          polyline: false
        },
        edit: {
          featureGroup: drawnItems
        }
      })
      this.mapObject.addControl(drawControl)

      this.mapObject.on(L.Draw.Event.CREATED, function (e) {
        let layer = e.layer
        let bounds = e.layer.getBounds()
        let newArea = {'bounds': [[bounds.getNorthEast().lat, bounds.getNorthEast().lng], [bounds.getSouthWest().lat, bounds.getSouthWest().lng]], 'color': 'red'}
        this.rectangle = newArea
        drawnItems.clearLayers()
        drawnItems.addLayer(layer)
      })
    },
    methods: {
      getImages () {
        let startDate = ''

        if (this.start !== '') {
          let monthStart = (this.start.getMonth() + 1)
          let dayStart = this.start.getDate()

          if (this.start.getMonth() + 1 < 10) {
            monthStart = '' + 0 + (this.start.getMonth() + 1)
          }
          if (this.start.getDate() < 10) {
            dayStart = '' + 0 + this.start.getDate()
          }
          startDate = '' + this.start.getFullYear() + '-' + monthStart + '-' + dayStart + 'T00:00:00'
          this.start = startDate
        }

        let endDate = ''

        if (this.end !== '') {
          let monthEnd = (this.end.getMonth() + 1)
          let dayEnd = this.end.getDate()

          if (this.end.getMonth() + 1 < 10) {
            monthEnd = '' + 0 + (this.end.getMonth() + 1)
          }
          if (this.end.getDate() < 10) {
            dayEnd = '' + 0 + this.end.getDate()
          }
          endDate = '' + this.end.getFullYear() + '-' + monthEnd + '-' + dayEnd + 'T00:00:00'
          this.end = endDate
        }
        let request = 'https://peps.cnes.fr/resto/api/collections/S1/search.json?maxRecords=50&index=' + this.startIndex + '&productType=' + this.product + '&processingLevel=' + this.traitement + '&sensorMode=IW&instrument=' + this.instrument
        console.log(this.mapObject.rectangle)
        if (this.mapObject.rectangle !== undefined) {
          request += '&box=' + this.mapObject.rectangle.bounds[0][1] + ',' + this.mapObject.rectangle.bounds[0][0] + ',' + this.mapObject.rectangle.bounds[1][1] + ',' + this.mapObject.rectangle.bounds[1][0]
        }
        if (this.start !== '') {
          request += '&startDate=' + this.start
        }
        if (this.end !== '') {
          request += '&completionDate=' + this.end
        }
        if (this.swath !== '') {
          request += '&swath=' + this.swath
        }
        console.log(request)

        this.$http.jsonp(request, {
          headers: {
            'Accept': 'application/json'
          }
        })
        .then((response) => {
          let filtered = response.data.features.filter(function (e) {
            if (e.properties.platform === 'S1A' && e.properties.orbitNumber > 18000) {
              return false
            }
            if (e.properties.platform === 'S1B' && e.properties.orbitNumber > 7000) {
              return false
            }
            return true
          })
          filtered.forEach(function (element, elementIndex, elementArray) {
            let pays = jsonPath.query(element.properties, '$..keywords[?(@.type=="country")].name')
            element.localisation = pays
            // calcul de l'orbite relative
            let relativeOrbitNumber = 0
            if (element.properties.platform === 'S1A') {
              relativeOrbitNumber = 1 + ((element.properties.orbitNumber - 73) % 175)
              element.properties.swathNumber = relativeOrbitNumber
            } else if (element.properties.platform === 'S1B') {
              relativeOrbitNumber = 1 + ((element.properties.orbitNumber - 27) % 175)
              element.properties.swathNumber = relativeOrbitNumber
            }
            element.geometry.coordinates[0].forEach(function (e, index, array) {
              let tempCoord = [e[1], e[0]]
              array[index] = tempCoord
            })
          }, jsonPath)
          filtered.sort(function (a, b) {
            return a.properties.swathNumber - b.properties.swathNumber
          })
          this.images = filtered
          this.displayedImages = filtered
          this.selectedImages = filtered
          console.log(response)
        })
        .catch(function (data, status, request) {
          console.log('erreur')
        })
      },
      getMoreImages () {
        this.startIndex = this.startIndex + 50
        let request = 'https://peps.cnes.fr/resto/api/collections/S1/search.json?maxRecords=50&index=' + this.startIndex + '&productType=' + this.product + '&processingLevel=' + this.traitement + '&sensorMode=IW&instrument=' + this.instrument
        console.log(this.mapObject.rectangle)
        if (this.mapObject.rectangle !== undefined) {
          request += '&box=' + this.mapObject.rectangle.bounds[0][1] + ',' + this.mapObject.rectangle.bounds[0][0] + ',' + this.mapObject.rectangle.bounds[1][1] + ',' + this.mapObject.rectangle.bounds[1][0]
        }
        if (this.start !== '') {
          request += '&startDate=' + this.start
        }
        if (this.end !== '') {
          request += '&completionDate=' + this.end
        }
        if (this.swath !== '') {
          request += '&swath=' + this.swath
        }
        console.log(request)

        this.$http.jsonp(request, {
          headers: {
            'Accept': 'application/json'
          }
        })
          .then((response) => {
            let filtered = response.data.features.filter(function (e) {
              if (e.properties.platform === 'S1A' && e.properties.orbitNumber > 18000) {
                return false
              }
              if (e.properties.platform === 'S1B' && e.properties.orbitNumber > 7000) {
                return false
              }
              return true
            })
            filtered.forEach(function (element, elementIndex, elementArray) {
              let pays = jsonPath.query(element.properties, '$..keywords[?(@.type=="country")].name')
              element.localisation = pays
              // calcul de l'orbite relative
              let relativeOrbitNumber = 0
              if (element.properties.platform === 'S1A') {
                relativeOrbitNumber = 1 + ((element.properties.orbitNumber - 73) % 175)
                element.properties.swathNumber = relativeOrbitNumber
              } else if (element.properties.platform === 'S1B') {
                relativeOrbitNumber = 1 + ((element.properties.orbitNumber - 27) % 175)
                element.properties.swathNumber = relativeOrbitNumber
              }
              element.geometry.coordinates[0].forEach(function (e, index, array) {
                let tempCoord = [e[1], e[0]]
                array[index] = tempCoord
              })
            }, jsonPath)
            filtered.sort(function (a, b) {
              return a.properties.swathNumber - b.properties.swathNumber
            })
            this.images.push.apply(this.images, filtered)
            this.displayedImages.push.apply(this.displayedImages, filtered)
            this.selectedImages.push.apply(this.selectedImages, filtered)
            console.log(response)
          })
          .catch(function (data, status, request) {
            console.log('erreur')
          })
      },
      switchMapStyle () {
        if (mapId === 1) {
          console.log('Switch to Word_Topo_Map')
          this.url = 'http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}'
          mapId = 2
        } else {
          console.log('Switch to opentopomap')
          this.url = 'http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png'
          mapId = 1
        }
      },
      addToProcessParams: function (image, index) {
        console.log(this.selection)
        // let addToImage = {}
        if (this.selection[index]) {
          let tempImages = this.selectedImages.filter(function (element, index, table) {
            // console.log(image.properties.orbitDirection === element.properties.orbitDirection && image.properties.polarisation === element.properties.polarisation && image.properties.swathNumber === element.properties.swathOrbitNumber)
            if (image.properties.orbitDirection !== element.properties.orbitDirection) {
              return false
            } else if (image.properties.polarisation !== element.properties.polarisation) {
              return false
            } else if (image.properties.swathNumber !== element.properties.swathNumber) {
              return false
            }
            return true
          })
          // TODO filtre a faire
          this.displayedImages = tempImages
          this.selectedImages = tempImages
        } else {
          if (this.selection.length > 0) {
            this.displayedImages = this.images
            this.selectedImages = this.images
          }
        }
      },
      restrictDisplay: function (image) {
        console.log(this.displayedImages)
        let feature = this.displayedImages.filter(function (el) {
          console.log(el.id + ' - ' + image.id)
          if (el.id === image.id) {
            return true
          }
          return false
        })
        console.log(feature)
        console.log(feature[0])
        if (feature === undefined || feature.length === 0) {
          let featureToAdd = this.selectedImages.filter((el) =>
            el.id === image.id
          )
          this.displayedImages.push(featureToAdd[0])
          console.log('add' + feature)
        } else {
          let features = this.displayedImages.filter((el) =>
            el.id !== image.id
          )
          this.displayedImages = features
        }
        console.log(this.displayedImages)
      },
      launchProcess: function () {
      },
      openWindow: function (collection, id) {
        window.open('https://peps.cnes.fr/rocket/#/collections/' + collection + '/' + id)
      },
      getLocalisation (element) {
        console.log('ask for localisation')
        return this.jsonPath.query(element.properties, '$..keywords[?(@.type=="country")].name')
      }
    }
  }
</script>

<style scoped>
  @import "../../node_modules/leaflet-draw/dist/leaflet.draw.css";

  .leaflet-draw-toolbar a {
    background-image: url('/static/spritesheet.png');
  }

  #mapArea {
    display: inline-block;
    position: absolute;
    width: 78%;
    height: 100%;
    float: right;
    right: 0;
  }

  select{
   width: 90%;
  }

  input.mail{
     width: 87%;
  }

  #form {
    display: inline-block;
    position: relative;
    left: 0.5%;
    width: 20%;
    background-color: #f0f0f0;
    float: left;
  }

  .thumbnail{
      position: relative;
      width: 75px;
      height: 75px;
      overflow: hidden;
      cursor: pointer;
      background-color: #292929;

  }

  .th{
      border: solid 4px #fff;
      box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
      display: inline-block;
      line-height: 0;
      max-width: 100%;
      top: 4px;
      transition: all 200ms ease-out;
  }

  .text-center{
  text-align: center !important;
  }

  div#results{
    position: relative;
    border: 1px solid #ccc;
    margin: 5px;
    clear:both;
  }

  .columns{
      padding-left: 1.9375rem;
      padding-right: 1.9375rem;
      float: left;
      position: relative;

  }

  .large-3 {
      width: 20%;
  }

  .large-4 {
    text-align:center;
  }

  .light{
      color: gray;
  }

  #launchProcess{
    text-align: center;
    position: absolute;
    top: 650px;
    left: 40%;
    width: 30%;
    background-color: #f0f0f0;
  }

  #moreImages {
    text-align: center;
    position: absolute;
    padding-bottom: 15px;
    left: 40%;
    width: 20%;
    background-color: #f0f0f0;
  }

  #emailAdress {
    width: 55%;
  }

  #listImages {
      height: 600px;
      width: 100%;
      top: 760px;
      position: absolute;

  }
</style>
