<template>
  <div id="app">
    <div id="menu">
	      <router-link class="link" to="/" exact>Lancer un process</router-link>
        <router-link class="link" to="/running">Process en cours</router-link>
        <router-link class="link" to="/done">Process terminés</router-link>

    </div>
    <div id="view">
      <div id="logo">
         <span id="logobig">
             <img id="logo-big" src='./assets/images/logo_big.png' />
         </span>
             <h4 class="title">Les <strong>déformations de la Terre</strong> vues du ciel</h4>
      </div>
      <div id="page">
       <router-view></router-view>
    </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>

  @import "../node_modules/leaflet/dist/leaflet.css";

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }

  #content {
    clear: both;
    width: 100%;
    height: 100%;
    display: inline;
  }

  #menu {
    position:fixed;
    overflow:auto;
    padding-bottom: 15px;
    padding-top: 15px;
    border-color: #dddd;
    border-bottom-style: solid;
    border-width: 1px;
    right:0px;
    left:0px;
    top:0px;
    /*height:80px;*/
    /*border:solid 1px;*/
    background-color: white;
    z-index: 9999;
    /*font-size:90%;*/
  }

  a.link {
    color: #1c1c1c;
    text-decoration: none;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }

  .link.router-link-active{
    border-bottom: 2px solid orange;
    padding-bottom: 15px;
  }

  .link{
    #float: right;
    border-bottom: none;
    display: inline;
    list-style: none;
    margin: 10px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1.25rem;
  }
  #page {
    position: absolute;
    top: 350px;
    height: 600px;
    width: 100%;
  }

  h4.title{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #444;
    font-size: 1.4375rem;
    line-height: 1.4;
    text-align: center;
  }

  h4.title strong{
    font-weight: bold;
    color: #3584bc;
  }

  img#logobig, img#logo-big{
     width: 600px;
     height: 210px;
   }

  span#logobig, span#logo-big{
    display: block;
    text-align: center;
    margin-top: 50px;
  }

</style>
